# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & build artifacts
*.log
dist/
build/
.cache/
